.bord {
		position:relative;
		display:block;
		padding:0px 15px;
		overflow:visible;
		border:1px solid #d0d0d0;
		font-size:15px;
		opacity:0.999;
		border-radius:3px;
		background-color:transparent;
		color:#b8b8b8;
		height:100px;
		width:300px;
		box-sizing:border-box;
		transition:all 0.5s linear;
		font-family:jokerman;
		text-transform:uppercase;
		margin-top:15px;
		}
		
.bord:before, .bord:after {
							content:'';
							border-style:solid;
							position:absolute;
							z-index:5;
							border-radius:3px;
							box-sizing:content-box;
							border-color:#9b59b6;
							transition:all 0.5s linear;
							}
		
.bord:before {
			top:-1px;
			left:0;
			width:0;
			height:100%;
			border-width:1px 0;
			transition-delay:0.05s;
			}
	
.bord:after	{
			top:0;
			left:-1px;
			height:0;
			width:100%;
			border-width:0 1px;
			}
			
.bord:hover {
			color:#9b59d6;
			}
			
				
.bord:hover:before {
				width:100%;
					}
					
.bord:hover:after {
					height:100%;
					}




					

 