*{
padding:0px;
margin:0px;
}

#navigation li ul{
display:none;
background-color:brown;
position:absolute;
left:auto;
top:auto;
}

#navigation li:hover>ul{
display:block;
}

#navigation{
background-color:brown;
width:650px;
height:40px;
position:absolute;
left:600px;
top:100px;
}

#navigation li{
list-style-type:none;
float:left;
line-height:40px;
margin:0px;
border-right:1px solid black;
}

#navigation li a{
text-decoration:none;
color:white;
padding:11px 10px 12px 10px;
}

#navigation li a:hover{
text-decoration:underline;
background-color:black;
}

/*This is a Sub Menu Drop Down Menu */


#navigation li ul li{
display:block;
float:none;
min-width:150px;
border-bottom:1px solid black;
}

#navigation li ul li a{
display:block;
text-align:center;
}



				


		
				
				

