body {
       padding:45px;
	   margin:40px;
	   }

	   nav {
	   display:block;
	   height:60px;
	   width;800px;
	   }
	   
	   a {
	   margin:0px;
	   display:inline-block;
	   color:white;
	   background-color:black;
	   width:19%;
	   height:100%;
	   text-align: center;
	   text-decoration:none;
	   font-size:18px;
	   padding-top:40px;
	   }
	   
	   a:hover {
	   text-decoration:underline;
	   height:400%;
	   }