nav ul ul {
           display:none;
		   }
		   
		   nav ul li:hover>ul {
		               display:block;
					   height:15px;
					   width:15px;
					   }
					   
		   nav ul {
		        background:orange;
				padding:0 20 px;
				border-radius:10px;
				list-style:none;
				position:relative;
				display:inline-table;
				width:600px;
				height:50px;
				clear:both;
				}
				
				
						 
			    nav ul li {
				      float:left;
					  padding: 10px;
					  margin:none;
					  text-align:center;
					  width:130px;
					  height:25px;
					  }
					  
					  nav ul li a {
					  text-decoration:none;
					  }
					  
			    nav ul ul li {
				position:absolute;
				top:100%;
				left:0px;
				background:orange;
				height:150px;
					  }
					  
				.whatever {
				width:100px;
				height:100px;
				background:red;
				}
				
				nav:hover ~ .whatever {
				transition:all 0.6s linear;
				transform:rotateX(720deg);
				}
					  
				