#basic {
background-color:orange;
	}
	
#basic div div ul li a {
color:black;
}

#basic div div ul li a:hover {
background-color:black;
color:white;
}

#logo a {
color:black;
}

#basic div div ul li {
border-right:1px solid black;
}



