#nav {
	background-color:lightblue;
	}
		
#nav div a {
		 color:white;
		 }
		
#whatever {
		  background-color:lightblue;
		 }
		
#test1 a:hover  {
			   background-color:white;
			   color:black;
			 }
				
#test2 a:hover {
			  background-color:white; 
			  color:black;	
			  }
				
#test3 a:hover {
			  background-color:white; 
			  color:black;
			  }
			  
#headtest:hover {
				background-color:white;
				color:black;
				}
				
#nav div ul li {
		  border-right:1px solid black;
		  }
		  
#speed1 a:hover {
				background-color:white;
				color:black;
				}
				
#speed2 a:hover {
				background-color:white;
				color:black;
				}
				
#speed3 a:hover {
				background-color:white;
				color:black;
				}
				
#speed4 a:hover {
				background-color:white;
				color:black;
				}
				
#speed5 a:hover {
				background-color:white;
				color:black;
				}
				
#speed6 a:hover {
				background-color:white;
				color:black;
				}
				
.no {
	padding:15px 15px; 
	background-color:orange; 
	margin:0px; 
	text-decoration:none; 
	color:black;
	}
	
	.ticker {
			overflow:hidden;
			height:90px;
			vertical-align:baseline;
			}
			
	
	.ticker #first {
			margin-top:0px;
			height:90px;
			animation-name:bulls;
			animation-duration:1s;
			}
			
	@keyframes bulls {
	0% {left:0px; top:0px;}
	33% {left:0px; top:-90px;}
	66% {left:0px; top:-180px;}
	100% {left:0px; top:-270px;}
	}
					

