.bord {
		position:relative;
		display:block;
		padding:0px 15px;
		overflow:hidden;
		border:1px solid #d0d0d0;
		font-size:15px;
		opacity:0.999;
		border-radius:3px;
		background-color:transparent;
		color:#b8b8b8;
		height:100px;
		width:300px;
		box-sizing:border-box;
		transition:all 0.5s linear;
		font-family:jokerman;
		text-transform:uppercase;
		}
	




					

 