body{
margin:0px; 
padding:0px;
}

 header{
 width:100%;
 background-color:#17ebeb;
 height:650px;
 }
 
 #title{
 position:absolute;
 top:5%;
 left:4%;
 width:15%;
 font-weight:bold;
 font-family:brush script std;
 font-size:1.7em;
 color:#000000;
 line-height:50px;
 }
 
 #title a{
 text-decoration:none;
 color:#000000;
 }
 
 #menu{
 position:absolute;
 top:4%;
 left:50%;
 float:right;
 width:50%;
 border:1px; solid black;
 }
 
 #menu ul{
 list-style-type:none;
 margin-left:5px;
 }
 
#menu ul li{
float:left;
border-right:1px solid black;
}

#menu ul li a{
text-transform:capitalize;
padding:1px 16px;
margin:0px;
font:bold 1em verdana;
color:#000000;
text-decoration:none;
}

#menu li a:hover{
background:black;
color:#ccc;
}

header #center{
position:absolute;
left:4%;
top:35%;
font:bold 2.2em arial;
color:#000000;
width:40%;
}

header #center span{
color:#ffffff;
}

#menu ul  #home{
background:#000000;
}

#menu ul #home a{
color:white;
padding-top:1px;
}

#menu ul #log{
background:#1ae8e5;
margin-left:10px;
}

#menu ul #log a{
color:white;
}

#benefits{
width:100%;
position:relative;
top:40px;
background:#3fc908;
height:1200px;
}

#first-center h3{
line-height:200px;
font:bold verdana;
color:#000000;
}

#second-center .box1{
float:left;
width:15%;
border:1px solid black;
position:relative;
left:15%;
margin:0% 10% 200px 0%;
}

.box1 .circle{
width:50%;
height:150px;
border:1px solid black;
border-radius:75px;
background:#ffffff;
}


















 
 