.container {
	width:200px;
	height:200px;
	position:relative;
	-webkit-perspective:1000;
}

#cube {
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	-webkit-transform-style:preserve-3d;
	-webkit-transform:translateZ(-100px);
	}
	
#cube figure {
	width:196px;
	height:196px;
	border:2px solid black;
	display:block;
	position:absolute;
	opacity:0.8;
	}
	
#front {
	background:red;
	transform:rotateY(0deg) translateZ(100px);
	}

#back {
	background:blue;
	transform:rotateY(180deg) translateZ(100px);
}

#right {
	background:yellow;
	transform:rotateY(90deg) translateZ(100px);
}

#left {
	background:green;
	transform:rotateY(-90deg) translateZ(100px);
}

#top {
	background:brown;
	transform:rotateX(90deg) translateZ(100px);
}

#bottom{
	background:cyan;
	transform:rotateX(-90deg) translateZ(100px);
}
	
