.wrapper {
	margin:0px auto;
	width:100%;
	max-width:40em;
	}
	
.tab {
	position:relative;
	width:100%;
	}
	
.tab input {
	position:absolute;
	left:0px;
	top:0px;
	z-index:-999;
	}
	
.tab label {
	background:#72d2c6;
	color:white;
	display:block;
	font-weight:bold;
	line-height:3;
	padding-left:0.5em;
	margin-bottom:0.5em;
	text-align:center;
	font-family:sans-serif;
	font-size:1.2em;
	text-transform:capitalize;
	transition:background 0.6s ease-in;
	}
	
.tab label:hover {
	cursor:pointer;
	background:cyan;
	}
	
.tab-content {
	max-height:0px;
	overflow:hidden;
	transition:all 0.5s ease;
	}
	
.tab-content p {
	margin:1em 0;
	}
	
#tab-one:checked ~ .one {
	max-height:10em;
	}
	
#tab-two:checked ~ .two {
	max-height:10em;
	}
	
#tab-three:checked ~ .three {
	max-height:10em;
	}
	
#tab-four:checked ~ .four {
	max-height:10em;
	}
	
#tab-five:checked ~ .five {
	max-height:10em;
	}