* {box-sizing:border-box; padding:0px; margin:0px;}
		.row:after {content:""; clear:both; display:block;}

		[class*="col-"] {float:left; padding:0px;}
		
@media only screen and (min-width: 1280px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	.container-fluid {width:100%;}
	.navbar {background:cyan;}
	.navigation {list-style-type:none; display:block; float:right;}
	.navigation li {display:inline-block; height:30px;}
	.navigation li a {display:inline-block; height:100%; width:100%; text-decoration:none; text-align:center; font-family:helvetica; font-size:1.2em; color:white; line-height:30px;}
	.navigation li a:hover {background:white; color:black;}
	}
