body {
	margin:0;
	padding:0;
	background:cyan;
	font-family:cantarell;
}

button {
	display:block;
	position:relative;
	margin:auto;
	top:100px;
	border:none;
	width:25%;
	border-radius:25px;
	text-align: center;
	color:white;
	background: orange;
	font-size:1.4em;
	transition:all 0.3s linear;
}

button:hover {
	background: white;
	color:orange;
	cursor:pointer;
}

button:focus {
	outline:none;
}

#specified {
	display:none;
	position:relative;
	top:300px;
	margin:auto;
	width:50%;
	height:500px;
	border:1px solid black;
	box-sizing:border-box;
}

#specified #header, #specified #content, #specified #footer {
	margin:0;
	padding:0;
	position:relative;
	top:0px;
	width:100%;
	text-align:center;
	box-sizing:border-box;
}

#specified #header, #specified #footer {
	height:100px;
	background:green;
}

#specified #content {
	height:300px;
	background:#fff;
}

h2, h3, h4 {
	margin:0;
	padding:0;
	display:block;
}




