body {
	font-family: 'Lucida Grande', 'helvetica', 'sans-serif';
	background-image: url('images/corkboard.jpg');
}

#newnote {
	position: absolute;
	top:15px;
	left:20px;
	font-size: 1.8em;
	padding:10px;
	border-radius: 5px;
	background: #333;
	color: #fff;
	border:none;
	clear:both;
}

#newnote:hover {
	background:#000;
	cursor: pointer;
}

#newnote:focus {
	outline: none;
}

.note {
	background:black;
	width:300px;
	height:400px;
	color:white;
	margin:75px 10px 0 10px;
	float: left;
}

.closebutton {
	background-image: url('images/remove.png');
	height:30px;
	width:30px;
	position: absolute;
	top:-15px;
	right: -15px;
	z-index:500;
}

.closebutton:hover {
	cursor: pointer;
}

.closebutton:focus {
	outline: none;
}

.closebutton:active {
	background-image: url('images/remove_pushed.png');
}

.timestamp {
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	font-size:11px;
	background: #db0;
	}

.overlay {
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		background:#000;
		opacity:0.4;
		z-index: 100;
	}

.modal {
	position: fixed;
	left:25%;
	top:100px;
	width:50%;
	height:700px;
	background:orange;
	z-index:200;
	display:none;
}

.btn {
	position: absolute;
	bottom:20px;
	margin-left:35%;
	width:30%;
	height:50px;
	background:cyan;
	color: #fff;
	border:none;
	border-radius: 5px;
	font-size:1.2em;
	transition:all 0.3s linear;
}

.btn:hover {
	cursor: pointer;
	background:#fff;
	color: cyan;
}

.btn:focus {
	outline:none;
}

#texter {
	position: absolute;
	font-size:1.6em;
	margin:10px 42%;
	color:white;
	font-family: helvetica;
}

input {
	position:absolute;
	width:50%;
	margin:45px 25%;
	height:35px;
	border:none;
	border-radius:10px;
	text-align: center;
	transition: box-shadow 0.3s linear;
	font-size:1.1em;
	font-family: tahoma;
	font-weight: bold;
}

input:focus {
	outline:none;
	box-shadow:5px 5px 10px rgba(0,0,0,0.6);
}

textarea {
	position: absolute;
	width:50%;
	margin-top:150px;
	margin-left:25%;
	height:400px;
	border:none;
	border-radius: 15px;
	font-size:1.2em;
	font-family: tahoma;
	transition: box-shadow 0.3s linear;
	padding:2%;
	box-sizing: border-box;
}

textarea:focus {
	outline: none;
	box-shadow:5px 5px 15px rgba(0,0,0,0.6);
}

#area {
	position: absolute;
	font-size:1.6em;
	margin:125px 40%;
	color:white;
	font-family: helvetica;
}